<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'css/summary.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.js"></script>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#eeeeee">
      <div class="navbar-brand">
        Can you explain your work experience?
      </div>
    </nav>
    <div class='container'>
    <form method="POST">
      {% csrf_token %}
      <input type='text' style='display:none' name='Turker_id' value='{{Turker_id}}'></input>
      <p>How understandable was the summary?</p>
      <ul class='likert'>
        <li>
          <input type="radio" name="understandability" onclick="check_input_for_submit()" value="1">
          <label>Extremely Confusing</label>
        </li>
        <li>
          <input type="radio" name="understandability" onclick="check_input_for_submit()" value="2">
          <label>Confusing</label>
        </li>
        <li>
          <input type="radio" name="understandability" onclick="check_input_for_submit()" value="3">
          <label>Neutral</label>
        </li>
        <li>
          <input type="radio" name="understandability" onclick="check_input_for_submit()" value="4">
          <label>Understandable</label>
        </li>
        <li>
          <input type="radio" name="understandability" onclick="check_input_for_submit()" value="5">
          <label>Very Understandable</label>
        </li>
      </ul>
      <p>Was the summary helpful when doing tasks?</p>
      <ul class='likert'>
        <li>
          <input type="radio" name="helpfulness" onclick="check_input_for_submit()" value="1">
          <label>Extremely Not Helpful</label>
        </li>
        <li>
          <input type="radio" name="helpfulness" onclick="check_input_for_submit()" value="2">
          <label>Not Helpful</label>
        </li>
        <li>
          <input type="radio" name="helpfulness" onclick="check_input_for_submit()" value="3">
          <label>Neutral</label>
        </li>
        <li>
          <input type="radio" name="helpfulness" onclick="check_input_for_submit()" value="4">
          <label>Helpful</label>
        </li>
        <li>
          <input type="radio" name="helpfulness" onclick="check_input_for_submit()" value="5">
          <label>Strongly Helpful</label>
        </li>
      </ul>
      <p>
      Can you tell us what was difficult, and what can be improved?
      </p>
      <ul>
      <textarea id='step1feedback' style="width: 100%; height: 50%" name='step1feedback' onkeyup="check_input_for_submit()"></textarea>
      </ul>
      <button id="form_submit_btn" class='btn btn-success' type='submit' disabled>Submit feedback</button>
    <script>
      function check_input_for_submit(){
        if($("#step1feedback").val() && $("input[name='helpfulness']:checked").val() && $("input[name='understandability']:checked").val()){
          $("#form_submit_btn").prop("disabled", false)
        }else{
          $("#form_submit_btn").prop("disabled", true)
        }
        console.log($("#step1feedback").val())
        console.log($("input[name='helpfulness']:checked").val())
        console.log($("input[name='understandability']:checked").val())
      }
    </script>
    </form>
    </div>
  </body>
</html>
